.sidenav {
  width: auto;
  overflow-x: hidden;
  transition: 0.5s;
  position: sticky;
  position: -webkit-sticky;
  top: 7em;
  margin-top: 8em;
}

.sidenav .side-link {
  margin: 4px 1em 4px 1em;
  padding: 16px 1em 16px 1em;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  border-radius: 2em;
}
.sidenav .side-link:hover {
  background-color: #2f373f;
  color: #f1f1f1;
}

.picture {
  /* These are all set to override defaults. */
  width: 175px;
  max-width: 175px;
  min-width: 175px;
  height: 175px;
  max-height: 175px;
  min-height: 175px;
  background: #eee;
  text-align: center;
}

.name-fit {
  font-size: 11pt;
  padding-bottom: 4pt;
}

.team-type {
  margin-top: 4em;
}
