@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-inter);   
}

span, button {
    letter-spacing: -0.05em;
}

.font-spectral {
    font-family: var(--font-spectral);
}