{{ define "main" }}
<main>
  <article>{{ .Content }}</article>

  <!-- Paginator for content. -->
  <div id="paginator">
    {{ range .Paginator.Pages }}
    <div class="paginator-item">
      <a href="{{.Permalink}}" class="toc-article-link">{{.Title}}</a>
    </div>
    {{ end }}
  </div>

  <div id="page-number">
    Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}
  </div>
  <div id="paginator-controls">
    {{ if .Paginator.HasPrev }}
    <!---->
    <a href="{{ .Paginator.Prev.URL }}">prev</a>, {{ else }} prev, {{ end }}
    <!---->
    {{ if .Paginator.HasNext }} <a href="{{ .Paginator.Next.URL }}">next</a>.
    <!---->
    {{ else }} next. {{ end }}
  </div>
</main>
{{end}}
