<div class="content">
    <div class="inner">
      <section class="about">
  
        <h3>&copy; 2021 UO Supermileage</h3>
        <br />
  
        <a href="https://www.facebook.com/UOERacing/"
          ><i class="fab fa-facebook-f fa-2x"></i
        ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.instagram.com/uosupermileage/"
          ><i class="fab fa-instagram fa-2x"></i
        ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a
          href="https://www.youtube.com/channel/UCtGlQ1at6YCeBEcJ88mTSlg/featured"
          ><i class="fab fa-youtube fa-2x"></i
        ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/uoe_racing"
          ><i class="fab fa-twitter fa-2x"></i
        ></a>
  
        <br /><br />
        <ul class="actions">
          <li>
            <a
              href="https://go.uosm.ca/join"
              target="_blank"
              class="button"
              >Join Us Today</a
            >
          </li>
        </ul>
      </section>
      <ul class="icons bulleted">
        <li class="icon solid fa-map-marker-alt">
          <h3>Address</h3>
          <p>
            128 - 150 Louis Pasteur Pvt<br />
            Ottawa, ON<br />
            K1N 9N3
          </p>
        </li>
      </ul>
      <ul class="icons bulleted">
        <li class="icon solid fa-envelope">
          <h3>Email</h3>
          <a href=mailto:supermileage@uottawa.ca>supermileage@uottawa.ca</a>
        </li>
      </ul>
    </div>
    <!-- <p class="copyright">&copy; UO Supermileage. All rights reserved.<br/> -->
    <!--				<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>-->
  </div>
  