<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1,
    shrink-to-fit=no"
/>

<!-- Title  -->
<title>
  {{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}
</title>

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Twitter & FB Meta -->
<meta
  property="og:title"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  name="twitter:title"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  itemprop="name"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>
<meta
  name="twitter"
  content="{{ if and .Title (not .IsHome) }}{{ .Title }} - {{end}}{{ .Site.Title }}"
/>

{{ if not .IsHome }}
<meta property="og:description" content="{{ .Summary }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
<meta itemprop="description" content="{{ .Summary }}" />
{{ else }}
<meta property="og:description" content="Small Minds Software Development" />
<meta name="twitter:description" content="Small Minds Software Development" />
<meta itemprop="description" content="Small Minds Software Development" />
{{ end }}

<!--OpenGraph-->
<meta property="og:" content="" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_CA" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{.Permalink }}" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="Ryan Fleck" />
<meta property="og:article:author" content="Ryan Fleck" />
<meta property="og:profile:first_name" content="Ryan" />
<meta property="og:profile:last_name" content="Fleck" />
<meta property="og:profile:username" content="RyanFleck" />

<!--Twitter-->
<meta name="twitter:" content="" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@RyanFleck_Dev" />
<meta name="twitter:image:src" content="" />

<!-- Favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<!-- CSS -->
<link rel="stylesheet" href="/style.css" media="screen" />
<script type="application/javascript" src="/script.js" async defer></script>

<style media="print">
  html {
    color: black;
    background: white;
    font-size: 20px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", "Noto Mono",
      Menlo, Courier, monospace;
  }
</style>
