<!DOCTYPE html>
<!--
	Archetype by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
  <head>
    <title>UO Supermileage</title>
    <link rel="icon" href="images/logo.png" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="landing is-preload">
    <!-- Header -->
    <header id="header" class="alt">
      <h1 id="logo">
        <a href="index.html"
          ><img
            src="images/logo.png"
            style="vertical-align: middle; margin-right: 16px"
            width="120px"
            height="45px"
          />UO Supermileage</a
        >
      </h1>
      <nav id="nav">
        <ul>
          <li><a style="cursor: pointer">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="sponsors.html">Sponsors</a></li>
        </ul>
      </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="content">
        <div class="inner">
          <header>
            <h2>Welcome to UO Supermileage</h2>
            <p>The Forefront of Electric Car Racing at uOttawa</p>
          </header>
          <ul class="actions">
            <li>
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSdJOZDh3XqrMkyAPwT0FWLiweLvBu-wFJT0--6KVCEZM0N5yQ/closedform"
                target="_blank"
                class="button huge"
                >Join Our Team</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Accomplishments -->
    <section id="one" class="wrapper">
      <div class="inner">
        <ul class="features">
          <li>
            <h3 class="icon style1 solid fa-bolt">
              The only electric car team at the University of Ottawa.
            </h3>
            <p>
              UO Supermileage is the only team in the University of Ottawa that
              design and create an electric vehicle to compete against the
              world. Our team members work on multiple aspects of the car, from
              mechanical, electrical and software.
            </p>
          </li>
          <li>
            <h3 class="icon style2 solid fa-medal">
              4th Place in 2019 Americas Shell Eco-Marathon
            </h3>
            <p>
              Last April, our team competed in the Shell Eco-Marathon Americas
              2019, where our car placed 4th overall in the electric prototype
              category in all of Americas! Our hard work throughout the year and
              the sponsors that supported us allowed our team to secure such a
              feat.
            </p>
          </li>
          <li>
            <h3 class="icon style3 solid fa-users">
              Over 100 members strong within uOttawa
            </h3>
            <p>
              Our team started small in 2016 with a measly 10 members. Over our
              two years UO Supermileage has grown to have over 100 members and
              continues to grow and improve everyday.
            </p>
          </li>
          <li>
            <h3 class="icon style1 solid fa-university">
              Opportunities for Mentorship and Learning
            </h3>
            <p>
              Work alongside experienced students who are at the top of their
              respective engineering domains.
            </p>
          </li>
        </ul>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="content">
        <div class="inner">
          <section class="about">
            <h3>&copy; 2020 UO Supermileage</h3>
            <br />

            <a href="https://www.facebook.com/UOERacing/"
              ><i class="fab fa-facebook-f fa-2x"></i
            ></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/uoeracing/"
              ><i class="fab fa-instagram fa-2x"></i
            ></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a
              href="https://www.youtube.com/channel/UCtGlQ1at6YCeBEcJ88mTSlg/featured"
              ><i class="fab fa-youtube fa-2x"></i
            ></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/uoe_racing"
              ><i class="fab fa-twitter fa-2x"></i
            ></a>

            <br /><br />
            <ul class="actions">
              <li>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSdJOZDh3XqrMkyAPwT0FWLiweLvBu-wFJT0--6KVCEZM0N5yQ/closedform"
                  target="_blank"
                  class="button"
                  >Join Us Today</a
                >
              </li>
            </ul>
          </section>
          <ul class="icons bulleted">
            <li class="icon solid fa-map-marker-alt">
              <h3>Address</h3>
              <p>
                128 - 150 Louis Pasteur Pvt<br />
                Ottawa, ON<br />
                K1N 9N3
              </p>
            </li>
          </ul>
          <ul class="icons bulleted">
            <li class="icon solid fa-envelope">
              <h3>Email</h3>
              <p><a href="#">info@uoeracing.com</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!--				<p class="copyright">&copy; Untitled. All rights reserved.<br />-->
      <!--				<a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>-->
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
